
<h1>Student</h1>

<div>
	<table>
		<tr>
			<td>Search</td>
			<td><input ng-model="vm.studentSearch.name" placeholder="Name"/></td>
			<td><input ng-model="vm.studentSearch.address" placeholder="Address"/></td>
			<td><button ng-click="vm.search()">Search</button></td>
		</tr>
	</table>
</div>
<table border="1" cellpadding="5" cellspacing="5" class="table-student">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Address</th>
			<th>Class</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in vm.studentList track by $index">
			<td>{{$index + 1}}</td>
			<td>{{student.name}}</td>
			<td>{{student.address}}</td>
			<td>{{student.classes.name}}</td>
			<td><button ui-sref="student-update({id: student.id})">Update</button>
			<button ng-click="vm.deleteStudent(student.id)">Delete</button></td>
		</tr>
	</tbody>
</table>
